In [1]:
# Building the scraping app
###
# Dependencies

from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import datetime as dt

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/96.0.4664.45/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\timot\.wdm\drivers\chromedriver\win32\96.0.4664.45]

In [4]:
    url4 = 'https://spaceimages-mars.com'
    browser.visit(url4)

In [5]:
    full_image_elem = browser.find_by_tag('button')[1]
    full_image_elem.click()

In [6]:
    html4 = browser.html
    img_soup = soup(html4, 'html.parser')

In [7]:
img_url = img_soup.find('img', class_='fancybox-image').get('src')
img_url

'image/featured/mars1.jpg'

In [8]:
img_url_full = f'https://spaceimages-mars.com/{img_url}'
img_url_full

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [30]:
df = pd.read_html('https://galaxyfacts-mars.com',skiprows=1)[0]

In [31]:
df.columns=['description', 'Mars', 'Earth']
df

          description             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days
5        Temperature:     -87 to -5 °C      -88 to 58°C

In [32]:
df

          description             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days
5        Temperature:     -87 to -5 °C      -88 to 58°C

In [33]:
print(df.to_string(index=False))

       description            Mars           Earth
         Diameter:        6,779 km       12,742 km
             Mass: 6.39 × 10^23 kg 5.97 × 10^24 kg
            Moons:               2               1
Distance from Sun:  227,943,824 km  149,598,262 km
   Length of Year:  687 Earth days     365.24 days
      Temperature:    -87 to -5 °C     -88 to 58°C

In [24]:
df.set_index('description', inplace=True)
df

In [29]:
df

                               Mars            Earth
description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [28]:
print(df.to_string(index=False))

           Mars           Earth
       6,779 km       12,742 km
6.39 × 10^23 kg 5.97 × 10^24 kg
              2               1
 227,943,824 km  149,598,262 km
 687 Earth days     365.24 days
   -87 to -5 °C     -88 to 58°C

In [27]:
df

                               Mars            Earth
description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C